:root {
	--background-primary: #050A0A;
	--background-secondary: #0B0D13;
	--accent: #183367;
	--text-primary: #D5DCFB;
	--text-accent: #ABBEA2;
	--text-grayed: #A6A6A6;
	--shadow: 0px 0px rgba(0, 0, 0, 0.4);
	--transition-speed: 0.2s;
	--background-image: url('https://raw.githubusercontent.com/JiayiSoftware/jiayi-themes/refs/heads/main/themes/Moon%20Gazing/background.png');
	--rounding: 4px;
	--border-primary: #203640;
	--border-accent: #352B69;
	--border-thickness: 1px;
}
