/* your launcher theme - edit in settings or yourself if you know the bare minimum about css */

:root {
	--background-primary: #000000;
	--background-secondary: #000000;
	--accent: #F0F0F0;
	--text-primary: #F0F0F0;
	--text-accent: #000000;
	--text-grayed: #7E7E7E;
	--shadow: 5px 5px rgba(0, 0, 0, 0.4);
	--transition-speed: 0.2s;
	--background-image: none;
	--background-blur: 0px;
	--background-brightness: 100%;
	--rounding: 0px;
	--border-primary: #000000;
	--border-accent: #000000;
	--border-thickness: 0px;
}
