:root {
	--background-primary: #D7D3D3;
	--background-secondary: #CCC7C7;
	--accent: #7C7271;
	--text-primary: #000000;
	--text-accent: #FFFFFF;
	--text-grayed: #757575;
	--shadow: 2px 2px rgba(0, 0, 0, 0.4);
	--transition-speed: 0.2s;
	--background-image: url('./themes/.local\Fubuki/background.gif'), url('./themes/.local\Fubuki/background.png'), url('./themes/.local\Fubuki/background.jpg');
	--background-blur: 0px;
	--background-brightness: 100%;
	--rounding: 1px;
	--border-primary: #000000;
	--border-accent: #000000;
	--border-thickness: 1px;
};
}ss: 0px;
}